/* basic style */ 
.MonthPicker table {margin:0; padding:0; font:bold 12px Arial; color:#ffe;}
.MonthPicker table tr.my{background-image:url(bg.png)}
.MonthPicker table tr.dte{background-color: #e2dddd}
.MonthPicker table {-moz-user-select:none; user-select:none}
.MonthPicker table th{padding-left:20px}
.MonthPicker table td{padding:0px}
.MonthPicker table a{text-decoration:none; color:#333}
.MonthPicker table a:hover{background:#ffe}
.MonthPicker table a:hover span{background:#ffe; color:#f60}
.MonthPicker table a.li{position:relative}
.MonthPicker table ul{list-style:none; margin:0; padding:0}
.MonthPicker table ul table{width:100%; border-collapse:collapse}
.MonthPicker table ul ul{position:absolute; visibility:hidden; left:-1px; top:20px; z-index:2; border:1px solid #999}
.MonthPicker table ul.dropdown ul{max-height: 200px;overflow-y: scroll}
.MonthPicker table ul ul .selected{background:#f60; color:#fff}
.MonthPicker table li{position:relative; width:60px; float:left; text-align:center}
.MonthPicker table li a{display:block}
.MonthPicker table .li:hover ul{background:#ffe; visibility:visible}
.MonthPicker table .li:hover li a:hover{background:#09f; color:#ffe}
.MonthPicker table span{display:inline-block; width:58px; padding:1px; line-height:19px; text-align:center; cursor:pointer}
.MonthPicker table .month span{width:40px}
.MonthPicker table .selected{background:#ffe}
.MonthPicker table .dte .caption{background:#999}
/* print style */
@media print{
.MonthPicker table span{display:none}
.MonthPicker table .selected{display:block}

}